.container {
  padding: 0 2rem;
}

.small {
  display: grid;
  grid-template-columns: auto auto auto;
}

.large {
  display: grid;
  grid-template-columns: auto auto;
}

.cusBody {
  margin-left: '10%';
  margin-right: '10%'
}
