.navbar {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  padding: 2rem;
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: #b3985180;
}

.logo {
  font-size: 1.2rem;
  font-weight: 600;
  text-align: center;
  display: flex;
  text-transform: uppercase;
  margin-left: 40%;
  color: white;
  text-decoration: none;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.logo:hover{
  color: #f9826c;
  scale: 1.1;
}

.links {
  display: flex;
  margin-right: 40%;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  
}

.navlink {
  list-style: none;
  margin: 0 0.75rem;
  text-transform: uppercase;
}

.navlink a {
  text-decoration: none;
  color: white;
}

.navlink a:hover {
  color: #f9826c;
}

.nav-area {
  display: flex;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 10px 20px;
}

.cusbutton{
  background: none!important;
  border: none;
  padding: 0!important;
  /*optional*/
  font-family: arial, sans-serif;
  /*input has OS specific font-family*/
  cursor: pointer;
  text-transform: uppercase;
  font-size: 1rem;
}